#!/bin/bash

GHclone() { git clone "https://github.com/Nokorot/$1"; }

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias lc='ls --color=always'
alias l='ls -CF'

# Propmpt if overiding
alias mv="mv -i"
alias cp="cp -i"

alias rn="bulkrename"

# cd + clear
function c() { [ ! -z "$1" ] && cd "$1"; clear && pp && ls; }

function cpp() {
    # TODO: Might want to allow $1 "the source" to consist of mutliple files,
    rsync -hr --info=progress2 "$1" "$2"
}

# youtube-dl


alias yt_x='youtube-dl -xi --download-archive ./list' # ~/.config/youtube-dl/music.txt'
alias yt_v='youtube-dl --download-archive ./list' # ~/.config/youtube-dl/video.txt

yt_ply() { mpv "$(youtube-dl -xg "$1")"; }

alias sxiv="sxiv -oat"

# alias v="nvim"
function v() { realpath "$@" | xargs -d'\n' nvim -p; }
alias e=emacs

alias r="ranger"

alias o="gio open"
alias rm="gio trash"
alias trash="gio trash"

alias qlatex="~/.bin/qlatex"
alias uniPrint="~/.bin/uniPrint"

alias xc="xclip -selection clipboard"
alias hl="/usr/share/vim/vim81/macros/less.sh"


alias gg="google-chrome-stable >/dev/null 2>&1 & disown"
function ga() { google-chrome --app="http://$1" 2>&1 & disown; }
function ee() { emacs "$@" > /dev/null & disown; }

# Default to sudo
alias mount="sudo mount"
alias umount="sudo umount"
alias shutdown="sudo shutdown"

#
alias vi3="nvim ~/.config/i3"
function vdml() {
    pushd "$HOME/.config/dml"
    nvim "$1"
    popd >/dev/null
}

_vdml_complete() {
    pushd "$HOME/.config/dml" >/dev/null
    _longopt $@
    popd >/dev/null
}
complete -o filenames -F _vdml_complete vdml


function dm-wlist() { echo "$@" >> ~/.config/dmenu_run.wlist; }

alias pdftrim='pdfcrop --margins "5 10 5 20"'


# TODO() { [ -z $1 ] && cat ~/NoteBook/TODO.md || echo $@ >> ~/NoteBook/TODO.md; }
alias TODO='nb TODO'
#alias TODOp='nb -p TODO'

