#!/bin/sh

setbg &		# Set the background
remaps
[ -f "$HOME/.Xresources" ] && xrdb $HOME/.Xresources
unclutter -idle 2 &		# Remove mouse when idle
picom --vsync --backend glx --force-win-blend \
    --glx-fshader-win "$(cat ~/.config/compton/fshader.glsl)" &
dunst &			# dunst for notifications
mpd &

nm-applet &

# dml ytpl
ytpl -s -p ~/LMedia/Music/*.lst &

dropbox-cli start &
