/* st */
st.font: pango:Monospace-12;

/* URxvt */
URxvt.font:    xft:Aaron Basic RTL Alpha
URxvt.font:    xft:DejaVu Sans Mono-12

URxvt.scrollBar: false

URxvt.depth: 32
URxvt.background:#202020

URxvt.perl-ext-common: resize-font,fullscreen,keyboard-select,clipboard
URxvt.keysym.F11: perl:fullscreen:switch
URxvt.keysym.C-minus: resize-font:smaller
URxvt.keysym.C-plus: resize-font:bigger
URxvt.keysym.C-equal: resize-font:reset

URxvt.keysym.M-Escape: keyboard-select:activate
URxvt.keyboard-select.clipboard: true

URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

/* Sxiv */
Sxiv.background: #202020
Sxiv.background: #ffffff

/* *.font:    xft:DejaVu Sans Mono-12 */

/* General */
*.background: #202020
*.foreground: #ecdcc2
*.color0:  #1d2021  
*.color1:  #cc241d  
*.color2:  #98971a  
*.color3:  #d79921  
*.color4:  #458588  
*.color5:  #b16286  
*.color6:  #689d6a  
*.color7:  #a89984  
*.color8:  #928374  
*.color9:  #fb4934  
*.color10: #b8bb26 
*.color11: #fabd2f 
*.color12: #83a598 
*.color13: #d3869b 
*.color14: #8ec07c 
*.color15: #ebdbb2 
*.colorBD: #d6bde5 
